@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color: #121d1c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
    scroll-behavior: smooth;
  }

.primaryText {
    color: #1f3e72;
    font-weight: bold;
    font-size: 2rem;
  }
  
  .secondaryText {
    color: rgb(140 139 139);
    font-size: 1rem;
  }
  .orangeText {
    color: orange;
    font-size: 1.5rem;
    font-weight: 600;
  }