/* * {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
} */
  
  /* .orange-circle {
    height: 4rem;
    width: 4rem;
    background: var(--orange-gradient);
    border-radius: 999px;
    position: absolute;
    right: 28%;
    top: -10%;
    z-index: -1;
  } */
  
  /* right side */
  
  .image-container {
    width: 24rem;
    height: 28rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 8px solid rgba(167, 175, 158, 0.664);
  }

  
  .image-container > img{
    width:100%;
    height: 100%;
  }
  
  /* mobile screens */
  @media (max-width: 640px) { /* Tailwind's sm breakpoint */
    .image-container {
      width: 20rem;  /* Adjusted width for small screens */
      height: 24rem; /* Adjusted height for small screens */
    }
    .h1{
      font-size: 32px;
      
    }

    .lime {
      margin-top: 12px;
      margin-left: 9px;
      font-size: larger;
    }
    .left{
      display: flex;
      justify-content: center;
      padding-top: 28px;
      margin-left: 40px;
    }
    .right{
      display: flex;
      justify-content: left;
      align-items: start;
      margin-left: 24px;

    }

  }
  
  /* Medium screens (e.g., tablets) */
  @media (min-width: 641px) and (max-width: 768px) { /* Tailwind's md breakpoint */
    .image-container {
      width: 20rem;  /* Adjusted width for medium screens */
      height: 24rem; /* Adjusted height for medium screens */
      
    }

    .h1{
      font-size: 32px;
      
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) { /* Tailwind's md breakpoint */


    .h1{
      font-size: 32px;
    }
  }
