.slick-slide {
  padding: 0 8px; /* Padding on each side of a slide */
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-slide > div {
  margin: 0 8px; /* Margin between slides */
}

@media (min-width: 640px) and (max-width: 1024px) {
  .slick-slide {
    padding: 0 0; /* Reduced padding for smaller screens */
  }
  .list{
    margin: 4px;
  }


  .slick-slide > div {
    margin: 14px; /* Reduced margin for smaller screens */
  }
}


/* Responsive adjustments for smaller screens */
@media (max-width: 640px) {
  .slick-slide {
    padding: 0 0; /* Reduced padding for smaller screens */
  }
  .slick-slide > div {
    margin: 0 3px; /* Reduced margin for smaller screens */
  }
}

.slick-prev, .slick-next {
  z-index: 1; /* Ensure navigation arrows are above the slides */
}



/* Custom styles for the next arrow */
.slick-next {
  color: blue; 
}

/* Optional: Adjust hover states */
.slick-prev:hover,
.slick-next:hover {
  color: orange; /* Change this to your hover color */
}

  @media (max-width: 640px) { 
    .list{
      margin: 8px;
      gap: 2px;
    }

    .fimgdiv{
      padding-right: 2px;
    }
    .fimg{
      gap: 2px;
      display: flex; 
    }
  }


  @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');  